:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
}

body {
  font-family: var(--main-font);
  background: #ffffff;
}
/* =======COMPONENTS======= */

.modal-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.description-lorem {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-front {
  display: flex;
  flex-direction: column;
  background: #2f303a;
  height: 600px;
  width: 1600px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.container {
  width: 1200px;
  padding: 0 0;
  margin: 0 auto;
}

.header .container {
  display: flex;
}
/* =======END COMPONENTS=== */
/* HEADER */
.navigation-logo,
.logo-bottom {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
span {
  color: var(--main-color);
}
.navigation-list-link {
  color: var(--main-color);
  height: 16px;
}
.email,
.phone {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.email {
  margin-left: auto;
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact:hover,
.contact:focus,
.email:hover,
.email:focus,
.phone:hover,
.phone:focus {
  color: #2196f3;
}

.email,
.phone {
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-list-item {
  padding-top: 14px;
}

.navigation-list {
  display: flex;
  list-style: none;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

/* END HEADER */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 200px 0 30px;
  width: 692px;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
h4:not(:last-child) {
  padding-right: 30px;
}

.decription-lorem {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-we-do-img {
  padding-top: 50px;
}


ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  background: #f5f4fa;
  width: 1600px;
}
.team-person {
  background-color: #ffffff;
  margin-top: 50px;
}
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.description-job {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.description-portfolio {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.separated-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contact,
.address,
.email,
.phone {
  font-style: normal;
  font-size: 14px;
}
.address {
  color: #ffffff;
}

footer {
  background: #2f303a;
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer-contact {
  font-family: Roboto;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item:not(:first-child) {
  padding-bottom: 9px;
}
.footer-item:first-child {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-item:last-child {
  padding-bottom: 60px;
}
.footer-item {
  list-style: none;
}
.span-bottom {
  color: #ffffff;
}
.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  width: 121px;
  height: 38px;
  border: none;
  padding: 6px 22px 6px 22px;
}
.portfolio-button:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}



.portfolio-category:not(:last-child) {
  padding-right: 8px;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
   justify-content:space-between;
}

.portfolio-item2{
  margin-top:30px;
}
.decription-portfolio{
  padding-left:24px;
}